<app-search></app-search>
<app-tags></app-tags> 
<app-not-found
[visible]="!supers || !supers.length"
resetLinkText="Reset Search">
</app-not-found>
<ul>
  <li *ngFor="let super of supers">
    <a routerLink="/super/{{super.id}}">
      
      <img [src]="super.imageUrl" [alt]="super.name" />
      <div class="content">
        <div class="name">
          {{super.name}}
        </div>
        <span class="favorite {{super.favorite?'':'not'}}">
          ❤
        </span>
        <div class="stars">
          <star-rating [stars]="super.stars" />
        </div>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of super.origins">
              {{origin}}
            </span>
          </div>

       

        <div class="price">
          <span>
            {{super.price | currency}}
          </span>
        </div>
      </div>
      </div>
    </a>
  </li>
</ul>
