 <app-search></app-search> 
 <app-tags></app-tags>
 <app-not-found [visible]="!lists || lists.length <= 0" resetLinkText="Reset Search"></app-not-found> 
<ul>
    <li *ngFor="let list of lists">
        <a routerLink="/list/{{list.id}}">
            <img src="{{list.imageUrl}}" alt="">
            <div class="content">
                <div class="name">
                    {{list.name}}
                </div>
            </div>
            <span class="favorite {{list.favorite?'':'not'}}" >
                ❤
            </span>
            <!-- <div class="stars">
                <star-rating>
                [value]="list.star"
                [totalstars]="5"
                checkedcolor="red"
                uncheckedcolor="black"
                size="20px"
                [readonly]="true">
               </star-rating>
               </div> -->
                <div class="product-item-footer">
                    
                    <div class="cook-time">
                        <span>🕒</span>
                        {{list.cookTime}}
                    </div>
                </div>
                <div class="price">
                    <span>
                        {{list.price|currency}}
                    </span>
                </div>
            
        </a>
        

    </li>
</ul>