ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
li a{
height: 20rem;
width: 20rem;
display: flex;
border: 1px solid whitesmoke;
border-radius: 1rem;
overflow: hidden;
flex-direction: column;
margin: 0.5rem;
}
li a:hover{
    opacity: 0.9rem;
    cursor: pointer;
}
.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cook-time{
    font-size: .8rem;
    flex: 3;
    text-align: right;
}

.price{
    color:#414141;
    margin-top: .7rem;
}