<section class="bus">
    <div class="container">
     <div >
        <h1>welcome to Expressud Courier Services</h1>

     </div>
     <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
                <div >
                    <i class="fa-solid fa-tent-arrow-left-right"></i>
                    <a routerLink="/blog" routerLinkActive="active">Transit Times</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
                <div >
                    <i class="fa-regular fa-clock"></i>
                    <a routerLink="/blog" routerLinkActive="active">Track</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog__item">
                <div >
                   
                    <i class="fa-solid fa-truck-fast"></i>
                    <a routerLink="/blog" routerLinkActive="active">Ship</a>
                </div>
            </div>
        </div>
     </div>







    </div>




</section>
