<section class="about-section">
    <div class="container">
    <h1 class="title-lg">Who are we?</h1>
    <p>Expressud is proud to be the first e-commerce platform in the country, offering a diverse      range of products and services
         that cater to the unique needs of our customers. Our offerings include real estate properties, delivery goods, and a wide array of e-commerce products. We are not just a business; we are a one-stop solution for all your needs!
        </p>
    <p>  At Expressud, we understand the South Sudan market like no other. Our marketing strategies are tailored to resonate with the local audience, giving us a competitive edge. Our public relations strategy is built on strong relationships with local communities, setting us apart from competitors who may not have the same level of local engagement. We are not just a business; we are a part of the community!</p>
    <p>Expressud is an innovative e-commerce/ on demand delivery business based in the bustling city of Juba, South Sudan. </p>
    <p>Expressud started in 2024 with the mission to  revolutionize the e-commerce landscape in South Sudan, offering a flexible and customer-centric platform that fosters collaboration and trust.</p>
</div>
</section>
<section>
  
    <div class="container">
    <h2>What we offer</h2>
    <p>At Expressud we aime to bridge the gap between Businesses and customers in South Sudan at the comfort of your home</p>

    <div class="containe ">
        <div class="context">
          <div routerLink="/partner" class="col-4 text">
          <img src="assets/img/icon/cooperation.png" alt="">
           <p> Partner with us today</p>
          </div>
          <div routerLink="/partner" class=" col-4 text">
            <img src="assets/img/icon/my-business.png" alt="">
            <p> Register your business today with Expressud</p>
          </div>
          <div routerLink="/deliver" class=" col-4 text">
            <img src="assets/img/icon/motorcycle.png" alt="">
            <p>Expressud creates jobs for the locals through registering with us to start delivery</p>
          </div>
          <div routerLink="/real-estates" class="col-4  text">
            <img src="assets/img/icon/rental.png" alt="">
            <p>Expressud bridge the gap of finding Homes for rent or sale in South Sudan</p>
          </div>
          
        </div>
    </div>
   </div>
 
</section>

