.container{
    margin-top: 40px;
  }
  
  .img{
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 50%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
  }
    .img p{
      font-style: italic;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: 'Times New Roman', Times, serif;
    }
    img{
      border-radius: 10px;
    }
   /* Style the form container */
  form {
   max-width: 400vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1{
    font-size: 3.1rem;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    
    
  
  }
  /* Style form headings */
  form h2 {
    font-size: 2.0rem;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  form h3 {
    font-size: 1.4rem;
    color: black;
  }
  
  /* Style form inputs and labels */
  form label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form select,
  form input[type="number"],
  form input[type="checkbox"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.8rem;
  }
  
  
  /* Style links */
  form p a {
    color: #007bff;
    text-decoration: none;
  }
  
  form p a:hover {
    text-decoration: underline;
  }
  
    
    label {
      display: block;
      margin-bottom: 5px;
      color: #333;
    }
    
    
    
    input[type="checkbox"] {
      margin-right: 5px;
    }
    
   
    
    /* Link styles */
    a {
      color: blue;
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
    
    /* Paragraph styles */
    p {
      color: #333;
      margin-top: 10px;
    }
    
    /* Responsive styles */
    @media screen and (max-width: 600px) {
      .container {
        padding: 10px;
      }
    
      input[type="text"],
      input[type="number"],
      input[type="email"],
      input[type="tel"],
      select {
        padding: 8px;
      }
    
      #btn {
        padding: 10px 15px;
      }
    }
    