<app-search></app-search>
<app-tags></app-tags> 
<app-not-found
[visible]="!markets || !markets.length"
resetLinkText="Reset Search">
</app-not-found>
<ul>
  <li *ngFor="let market of markets">
    <a routerLink="/market/{{market.id}}">
      
      <img [src]="market.imageUrl" [alt]="market.name" />
      <div class="content">
        <div class="name">
          {{market.name}}
        </div>
        <span class="favorite {{market.favorite?'':'not'}}">
          ❤
        </span>
        <div class="stars">
          <star-rating [stars]="market.stars" />
        </div>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of market.origins">
              {{origin}}
            </span>
          </div>

        

        <div class="price">
          <span>
            {{market.price | currency}}
          </span>
        </div>
      </div>
      </div>
    </a>
  </li>
</ul>
