.payment-section{
  
    padding: 40px;
  
}
h2{
    font-size: 2.3rem;
    padding: 10px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}


option{
    font-size: 1.1rem;
}
