<app-search></app-search>
<app-tags></app-tags> 
<app-not-found
[visible]="!hairs || !hairs.length"
resetLinkText="Reset Search">
</app-not-found>
<ul>
  <li *ngFor="let hair of hairs">
    <a routerLink="/hair/{{hair.id}}">
      
      <img [src]="hair.imageUrl" [alt]="hair.name" />
      <div class="content">
        <div class="name">
          {{hair.name}}
        </div>
        <span class="favorite {{hair.favorite?'':'not'}}">
          ❤
        </span>
        <div class="stars">
          <star-rating [stars]="hair.stars" />
        </div>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of hair.origins">
              {{origin}}
            </span>
          </div>


        <div class="price">
          <span>
            {{hair.price | currency}}
          </span>
        </div>
      </div>
      </div>
    </a>
  </li>
</ul>
