
<app-search></app-search>
<app-tags></app-tags> 
<app-not-found
[visible]="!cosmetics || !cosmetics.length"
resetLinkText="Reset Search">
</app-not-found>
<ul>
  <li *ngFor="let cosmetic of cosmetics">
    <a routerLink="/cosmetic/{{cosmetic.id}}">
      
      <img [src]="cosmetic.imageUrl" [alt]="cosmetic.name" />
      <div class="content">
        <div class="name">
          {{cosmetic.name}}
        </div>
        <span class="favorite {{cosmetic.favorite?'':'not'}}">
          ❤
        </span>
        <div class="stars">
          <star-rating [stars]="cosmetic.stars" />
        </div>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of cosmetic.origins">
              {{origin}}
            </span>
          </div>
        </div>

        <div class="price">
          <span>
            {{cosmetic.price | currency}}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>
 
