<div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
       <div class="img">
        <img src="assets/img/courier/express.jpg" alt="">
        <div class="courier">
            <h3> Express Delivery</h3>
            <p>
                This service ensures that your packages or documents reach the recipient at easiest
            </p>
            <!-- <a routerLink="/contact"><button id="btn">Enquire Now</button></a> -->
        </div>
       </div>
      </div>
      <div class="col">
        <div class="img">
            <img src="assets/img/courier/standard.webp" alt="">
            <div class="courier">
                <h3>Standard Delivery</h3>
                <p>
                    Our team ensures that your conseignment reaches the recipient within the standard timeline
                </p>
                <!-- <a routerLink="/contact"><button id="btn">Enquire Now</button></a> -->
            </div>
           </div>
      </div>
      <div class="col">
        <div class="img">
            <img src="assets/img/courier/heavy.webp" alt="">
            <div class="courier">
                <h3> Heavy Delivery</h3>
                <p>
                    We make arrangemnets within our logistics network to deliver in bulk.
                </p>
                <!-- <a routerLink="/contact"><button id="btn">Enquire Now</button></a> -->
            </div>
           </div>
      </div>

    </div>
  </div>

  <div class="content">
  <h2> For More Equiries!</h2>
  <button id="btn">Contact Us</button>
</div>