<app-not-found [visible]="!resturant" notFoundMessage="Product Not Found!"
resetLinkText="Back To Homepage"></app-not-found>

<div *ngIf="resturant" class="container">
    <img [src]="resturant.imageUrl" [alt]="resturant.name" />

    <div class="details">
        <div class="header">
            <span class="name">
                {{resturant.name}}
            </span>
            <span class="favorite {{resturant.favorite?'':'not'}}">
                ❤
            </span>
        </div>
       

        <div class="tags">
            <app-tags [ListsPageTags]="resturant.tags" justifyContent="start"></app-tags> 
        </div> 

        <div class="cook-time">
            <span>
                Time to cook about <strong>{{resturant.cookTime}}</strong> minutes
            </span>
        </div>

        <div class="price">
            <span>{{resturant.price|currency}}</span>
        </div>

        <button (click)="addToCart()">Add To Cart</button>
    </div>

</div>