<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <div id="layout-wrapper">
        <h1 class="text-center">Find Your Location On The Map</h1>
        <div class="main-content">
          <div id="mapContainer" #mapContainer style="height: 400px;"></div>
          <button id="btn" (click)="detectLocation()">Detect My Location</button>
          <p class="text-center" *ngIf="deliveryAddress">Detected Address: {{ deliveryAddress }}</p>
        </div>
      </div>

      <!-- <div class="address mt-4">
        <h1 class="text-center">Delivery Address</h1>
        <textarea 
          class="form-control" 
          [(ngModel)]="deliveryAddress" 
          (input)="onAddressChange()"
          placeholder="Can't find your address on the map? Enter it here"
          rows="4">
        </textarea>
      </div> -->
    </div>
  </div>
</div>
