<app-search></app-search>
<app-tags></app-tags> 
<app-not-found
[visible]="!bakerys || !bakerys.length"
resetLinkText="Reset Search">
</app-not-found>
<ul>
  <li *ngFor="let bakery of bakerys">
    <a routerLink="/bakery/{{bakery.id}}">
      
      <img [src]="bakery.imageUrl" [alt]="bakery.name" />
      <div class="content">
        <div class="name">
          {{bakery.name}}
        </div>
        <span class="favorite {{bakery.favorite?'':'not'}}">
          ❤
        </span>
        <div class="stars">
          <star-rating [stars]="bakery.stars" />
        </div>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of bakery.origins">
              {{origin}}
            </span>
          </div>
        </div>

        <div class="price">
          <span>
            {{bakery.price | currency}}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>

