
<section
      class="section about"
      aria-label="about me"
      style="background-color: #ffffff"
    >
      <div class="container">
        <figure class="about-banner">
          <img src="assets/img/business.webp" loading="lazy" alt="picture" class="w-100"/>
        </figure>

        <div class="about-content">
          <h2 class="title-lg">Your Preferred Courier Partner.</h2>
  
        </div>
        <div>
            <a routerLink="/contact" ><button id="btn"> Enquire now.</button></a>
        </div>
      </div>
    </section>