
<section class="section about" aria-label="about me" >
      <div class="container">
        <div class="row">
        <div class="col-6">
        <figure class="about-banner">
          <img src="assets/img/business.webp" loading="lazy" alt="picture" class="w-100"/>
        </figure>
      </div>
      <div class="col-6">
        <div>
          
          <h2 class="title-lg">Your Preferred Courier Service.</h2>
          <p>
            We'll take any item from one place to another in your city.
          </p>
  
      
            <a routerLink="/fill-form" ><button id="btn"> Get Started.</button></a>
        </div>
      </div>
    </div>
      </div>
 </section>