<div ngSkipHydration></div> 

 <!-- <div id="preloder">
  <div class="loader"></div>

</div>  -->
<app-hero></app-hero>
<app-banner></app-banner>
<app-product></app-product>
<app-categories></app-categories>
<app-instagram></app-instagram>
<!-- Latest Blog Section Begin -->
<section class="latest spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <span>Latest News</span>
                  <h2>Become part of Expressud</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="blog__item">
                  <div class="blog__item__pic set-bg" style="background-image: url('assets/img/blog/bike.JPG');"></div>
                  <div class="blog__item__text">
                      <!-- <span><img src="assets/img/icon/calendar.png" alt=""> 16 February 2024</span> -->
                      <h5>Register to become a delivery person</h5>
                      <a routerLink="/blog" routerLinkActive="active">Read More</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="blog__item">
                  <div class="blog__item__pic set-bg" style="background-image: url('assets/img/blog/partners.jpg');"></div>
                  <div class="blog__item__text">
                      <!-- <span><img src="assets/img/icon/calendar.png" alt=""> 21 February 2024</span> -->
                      <h5>Become partners with Expressud</h5>
                      <a routerLink="/blog" routerLinkActive="active">Read More</a>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="blog__item">
                  <div class="blog__item__pic set-bg" style="background-image: url('assets/img/blog/sponsors.webp');"></div>
                  <div class="blog__item__text">
                      <!-- <span><img src="assets/img/icon/calendar.png" alt=""> 28 February 2024</span> -->
                      <h5>More about our sponsors</h5>
                      <a routerLink="/blog" routerLinkActive="active">Read More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
