<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="homeGrid">
        <h2 class="h2">Sell to new customers and neighborhoods</h2>
        <p>Increase your orders by reaching more customers thanks to an online marketplace and network of couriers available through our technology.</p>
        <div>
          <p><b>Learn more about:</b></p>
          <ul class="homeList">
            <li><a routerLink="/registration">Delivery with Expressud</a></li>
            <li><a routerLink="/bus">In-store pick-up</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="storeBlobWrapper text-center">
        <img class="homeBlobImg img-fluid" src="assets/img/blog/report.jpg" alt="Screenshots of the Manager Portal">
      </div>
    </div>
  </div>
</div>
