.img-height {
    height: 80px;
}
.card {
    margin-bottom: 20px; /* Add margin between cards */
  }
  
  #btn {
    width: 100%; /* Make the button full width */
  }
  .card {
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  .content{
    font-size: 18px;
    font-weight: 500;
  }
  .name{
    font-size: 22px;
    font-weight: 600;
    padding: 20px;
  }

  .img-rounded {
    border-radius: 40%; /* Make the photo round */
    width: 80px; /* Adjust the width of the photo */
    height: 80px; /* Adjust the height of the photo */
  }
  
  
    