<div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="filter-container">
          <label>Filter by Order Date:</label>
          <select class="form-control" (change)="onOrderDateChange($event)">
            <option *ngFor="let filter of orderDateFilters" [value]="filter">{{ filter }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="filter-container">
          <label>Filter by Delivery Date:</label>
          <select class="form-control" (change)="onDeliveryDateChange($event)">
            <option *ngFor="let filter of deliveryDateFilters" [value]="filter">{{ filter }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="filter-container">
          <button id="btn" (click)="onShowPreOrders()">All Pre Orders</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="filter-container">
          <button class="btn btn-danger btn-block" routerLink="/resturant-management">Menu</button>
        </div>
      </div>
    </div>
  </div>
  