<!-- Header Section Begin -->

<!-- Default Header -->
<header class="header" [ngClass]="{'header-collapsed': isCollapsed}" *ngIf="headerType === 'default-header'">
    <div class="header__top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7"></div>
          <div class="col-lg-6 col-md-5">
            <div class="header__top__right">
              <div class="header__top__links">
                <a *ngIf="!isAuth" routerLink="/login">Login</a>
                <a *ngIf="isAuth" (click)="logout()">Logout</a>
              </div>
              <a routerLink="/faq">FAQs</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="#"><img src="assets/img/logo.png" alt="" class="logo"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu" [ngClass]="{'show-menu': isMenuOpen}">
                    <ul>
                        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                        <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
                        <li><a href="#">Categories</a>
                            <ul class="dropdown">
                                <li><a routerLink="/alcohol" routerLinkActive="active">Alcohol</a></li>
                                <li><a routerLink="/foods" routerLinkActive="active">Restaurants</a></li>
                                <li><a routerLink="/pharmacy" routerLinkActive="active">Pharmacueticals</a></li>
                                <li><a routerLink="/grocery" routerLinkActive="active">Grocery</a></li>
                                <li><a routerLink="/bus" routerLinkActive="active">Courier</a></li>
                                <li><a routerLink="/real-estates" routerLinkActive="active">Real Estate</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="/contact" routerLinkActive="active">Contact us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a routerLink="/carts-page">
                        <img src="assets/img/icon/shopping-cart.png" alt=""><span>{{ cartItemCount }}</span>
                    </a>
                </div>
            </div>
        </div>
        <button class="mobile-menu-toggle" *ngIf="isResponsive" (click)="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </button>
    </div>
</header>

<!-- Vendor Header -->
<header class="header-vendor" [ngClass]="{'header-collapsed': isCollapsed}" *ngIf="headerType === 'vendor-header'">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <!-- <app-profile></app-profile> -->
                        </div>
                        <a routerLink="/faq">FAQs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a routerLink="/dashboard"><img src="assets/img/logo.png" alt="" class="logo"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu" [ngClass]="{'show-menu': isMenuOpen}">
                    <ul>
                        <li><a routerLink="/partner" routerLinkActive="active">Home</a></li>
                        <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a routerLink="/menu-vendor" routerLinkActive="active">Menu</a></li>
                                <li><a routerLink="/payment-vendor" routerLinkActive="active">Payments & Pricings</a></li>
                                <li><a routerLink="/bus" routerLinkActive="active">Courier</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="/contact" routerLinkActive="active">Contact us</a></li>
                    </ul>
                </nav>
            </div>
            <!-- <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a routerLink="/profile-vendor">
                        <img src="assets/img/icon/user.png" alt=""><span></span>
                    </a>
                </div>
            </div> -->
        </div>
        <button class="mobile-menu-toggle" *ngIf="isResponsive" (click)="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </button>
    </div>
</header>

<!-- Driver Header -->
<header class="header-driver" [ngClass]="{'header-collapsed': isCollapsed}" *ngIf="headerType === 'driver-header'">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <!-- <app-profile></app-profile> -->
                        </div>
                        <a routerLink="/faq">FAQs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="#"><img src="assets/img/logo.png" alt="" class="logo"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu" [ngClass]="{'show-menu': isMenuOpen}">
                    <ul>
                        <li><a routerLink="/deliver" routerLinkActive="active">Home</a></li>
                        <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
                        <li><a routerLink="/partner">New Business</a></li>
                        <li><a routerLink="/contact" routerLinkActive="active">Contact us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <button class="mobile-menu-toggle" *ngIf="isResponsive" (click)="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </button>
    </div>
</header>


<!-- Admin Header -->
<header class="header-admin" [ngClass]="{'header-collapsed': isCollapsed}" *ngIf="headerType === 'admin-header'">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <!-- <app-profile></app-profile> -->
                        </div>
                        <a routerLink="/faq">FAQs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="#"><img src="assets/img/logo.png" alt="" class="logo"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu" [ngClass]="{'show-menu': isMenuOpen}">
                    <ul>
                        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                        <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
                        <li><a href="#">Categories</a>
                            <ul class="dropdown">
                                <li><a routerLink="/alcohol" routerLinkActive="active">Alcohol</a></li>
                                <li><a routerLink="/foods" routerLinkActive="active">Restaurants</a></li>
                                <li><a routerLink="/pharmacy" routerLinkActive="active">Pharmacies</a></li>
                                <li><a routerLink="/grocery" routerLinkActive="active">Grocery</a></li>
                                <li><a routerLink="/bus" routerLinkActive="active">Courier</a></li>
                                <li><a routerLink="/real-estates" routerLinkActive="active">Real Estate</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="/contact" routerLinkActive="active">Contact us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a routerLink="/carts-page">
                        <img src="assets/img/icon/shopping-cart.png" alt=""><span>{{ cartItemCount }}</span>
                    </a>
                </div>
            </div>
        </div>
        <button class="mobile-menu-toggle" *ngIf="isResponsive" (click)="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </button>
    </div>
</header>


