.img-height {
    height: 80px;
}
.img-small-height {
    height: 50px;
}
.card {
    transition: transform 0.3s ease;
    padding: 20px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  .name{
    font-size: 20px;
    font-weight: 400;
    
  }
  .price{
    font-size: 16px;
    font-weight: 500;
  }
  .img-rounded {
    border-radius: 40%; /* Make the photo round */
    width: 80px; /* Adjust the width of the photo */
    height: 80px; /* Adjust the height of the photo */
  }
  