<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span >Latest News</span>
                    <h2>Become part of Expressud</h2> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" style="background-image: url('assets/img/blog/bike.JPG');"></div>
                    <div class="blog__item__text">
                     
                        <h5>Register to become a delivery person</h5>
                        <a routerLink="/deliver" >Register Now</a>
                    </div>
                </div>
                
            </div> 
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" style="background-image: url('assets/img/blog/partners.jpg');"></div>
                    <div class="blog__item__text">
                        <h5>Become partners with Expressud</h5>
                        <a routerLink="/partner" routerLinkActive="active">Register Now</a>
                    </div>
                </div>
            </div>
  
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" style="background-image: url('assets/img/blog/sponsors.webp');"></div>
                    <div class="blog__item__text">
                       
                        <h5>More about Expressud</h5>
                        <a routerLink="/blog" routerLinkActive="active">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>