<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               <h1>Stores you might like</h1>
            </div>
    
        </div>
        <div class="row product__filter">
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item" routerLink="/resturants">
                    <div class="product__item__pic set-bg" style="background-image: url('assets/img/product/chicken.jpg');" >
                        <span class="label">Chicken </span>
                       
                    </div>
                    <div class="product__item__text">
                        <h6>Resturants</h6>
                        <span> <img src="assets/img/icon/thumb-up.png" alt=""> 80% (+400)</span>
                        <span> <img src="assets/img/icon/food-delivery.png" alt=""></span>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                <div class="product__item" routerLink="/local-market">
                    <div class="product__item__pic set-bg" style="background-image: url('assets/img/blog/super.jpg');">
                        <span class="label">shopping</span>
                       
                    </div>
                    <div class="product__item__text">
                        <h6>SuperMarket</h6>
                        <span> <img src="assets/img/icon/thumb-up.png" alt=""> 70% (+200)</span>
                        <span> <img src="assets/img/icon/food-delivery.png" alt=""></span>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item sale" routerLink="/grocery">
                    <div class="product__item__pic set-bg" style="background-image: url('assets/img/blog/bag.webp');">
                    
                        <span class="label">grocery</span>
                       
                    </div>
                    <div class="product__item__text">
                        <h6>Local Market</h6>
                        <span> <img src="assets/img/icon/thumb-up.png" alt=""> 80% (+400)</span>
                        <span> <img src="assets/img/icon/food-delivery.png" alt=""></span>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                <div class="product__item" routerLink="/alcohol">
                    <div class="product__item__pic set-bg" style="background-image: url('assets/img/blog/alcohol.jpg');">
                        <span class="label">four cousines </span>
                       
                    </div>
                    <div class="product__item__text">
                        <h6>Alcohol&Wines</h6>
                        <span> <img src="assets/img/icon/thumb-up.png" alt=""> 80% (+400)</span>
                        <span> <img src="assets/img/icon/food-delivery.png" alt=""></span>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item" routerLink="/furniture">
                    <div class="product__item__pic set-bg" style="background-image: url('assets/img/blog/furniture.png');">
                        <span class="label">decor</span>
                       
                    </div>
                    <div class="product__item__text">
                        <h6>Homes</h6>
                        <span> <img src="assets/img/icon/thumb-up.png" alt=""> 80% (+400)</span>
                        <span> <img src="assets/img/icon/food-delivery.png" alt=""></span>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                <div class="product__item sale" routerLink="/hair">
                    <div class="product__item__pic set-bg" style="background-image: url('assets/img/blog/hairs.jpg');">
                     
                        <span class="label">wigs </span>
                       
                    </div>
                    <div class="product__item__text">
                        <h6>Hair </h6>
                        <span> <img src="assets/img/icon/thumb-up.png" alt=""> 80% (+400)</span>
                        <span> <img src="assets/img/icon/food-delivery.png" alt=""></span>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item"routerLink="/bakery">
                    <div class="product__item__pic set-bg" style="background-image: url('assets/img/blog/bakery.jpg');">
                        <span class="label">bread</span>
                       
                    </div>
                    <div class="product__item__text">
                        <h6>Bakery&Pasteries</h6>
                        <span> <img src="assets/img/icon/thumb-up.png" alt=""> 80% (+400)</span>
                        <span> <img src="assets/img/icon/food-delivery.png" alt=""></span>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                <div class="product__item" routerLink="/pharmacy">
                    <div class="product__item__pic set-bg" style="background-image: url('assets/img/blog/para.jpeg');">
                        <span class="label">skincare</span>
                       
                    </div>
                    <div class="product__item__text">
                        <h6>Pharmacueticals</h6>
                        <span> <img src="assets/img/icon/thumb-up.png" alt=""> 80% (+400)</span>
                        <span> <img src="assets/img/icon/food-delivery.png" alt=""></span>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>