/*---------------------
  Product
-----------------------*/

.product {
	padding-top: 0;
	padding-bottom: 60px;
	margin-top: 20vh;
}

h1 {
	font-size: 2rem;
	font-weight: 400;
	font-family: 'Times New Roman', Times, serif;
}

.filter__controls {
	text-align: center;
	margin-bottom: 45px;
}

.filter__controls li {
	color: #b7b7b7;
	font-size: 24px;
	font-weight: 700;
	list-style: none;
	display: inline-block;
	margin-right: 88px;
	cursor: pointer;
}

.filter__controls li:last-child {
	margin-right: 0;
}

.filter__controls li.active {
	color: #111111;
}

.product__item {
	overflow: hidden;
	margin-bottom: 40px;
	position: relative;
}

.product__item.sale .product__item__pic .label {
	color: #ffffff;
	background: #111111;
}

span img {
	width: 40px;
	height: 40px;
	padding: 10px;
}

.product__item__pic {
	height: 260px;
	position: relative;
	background-position: center center;
	background-size: cover;
}

.product__item__pic .label {
	color: #111111;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	padding: 4px 15px 2px;
	background: #ffffff;
	position: absolute;
	left: 0;
	top: 20px;
}

.product__item__text {
	padding-top: 25px;
	position: relative;
}

.product__item__text h6 {
	color: #111111;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 5px;
}

.product__item__text span {
	display: inline-block;
	margin-right: 10px;
}

.product__item:hover .product__item__pic .label {
	background: #000000;
	color: #ffffff;
}

.product__item:hover .product__item__text h6 {
	/* Ensure h6 doesn't disappear */
	color: #000;
}

.product__item:hover .product__item__text span {
	color: #000;
}

.product__item:hover .product__item__text span img {
	filter: brightness(0) invert(1);
}
