<app-search></app-search>
<app-tags></app-tags> 
<app-not-found
[visible]="!pharms || !pharms.length"
resetLinkText="Reset Search">
</app-not-found>
<ul>
  <li *ngFor="let pharm of pharms">
    <a routerLink="/pharm/{{pharm.id}}">
      
      <img [src]="pharm.imageUrl" [alt]="pharm.name" />
      <div class="content">
        <div class="name">
          {{pharm.name}}
        </div>
        <span class="favorite {{pharm.favorite?'':'not'}}">
          ❤
        </span>
        <div class="stars">
          <star-rating [stars]="pharm.stars" />
        </div>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of pharm.origins">
              {{origin}}
            </span>
          </div>
        <div class="price">
          <span>
            {{pharm.price | currency}}
          </span>
        </div>
      </div>
      </div>
    </a>
  </li>
</ul>
