<app-search></app-search> 
<app-tags></app-tags>
<app-not-found [visible]="!pharmacy || pharmacy.length <= 0" resetLinkText="Reset Search"></app-not-found> 
<ul>
   <li *ngFor="let pharmacy of pharmacy">
       <a routerLink="/pharm/{{pharmacy.id}}">
           <img src="{{pharmacy.imageUrl}}" alt="">
           <div class="content">
               <div class="name">
                   {{pharmacy.name}}
               </div>
           </div>
           <span class="favorite {{pharmacy.favorite?'':'not'}}" >
               ❤
           </span>       
               <div class="price">
                   <span>
                       {{pharmacy.price|currency}}
                   </span>
               </div>
           
       </a>
       

   </li>
</ul>