<app-search></app-search>
<app-tags></app-tags> 
<app-not-found
[visible]="!reals || !reals.length"
resetLinkText="Reset Search">
</app-not-found>
<ul>
  <li *ngFor="let real of reals">
    <a routerLink="/real/{{real.id}}">
      <img [src]="real.imageUrl" [alt]="real.name" />
      <div class="content">
        <div class="name">
          {{real.name}}
        </div>
        <span class="favorite {{real.favorite?'':'not'}}">
          ❤
        </span>
        <div class="stars">
          <star-rating [stars]="real.stars" />
        </div>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of real.origins">
              {{origin}}
            </span>
          </div>
        <div class="price">
          <span>
            {{real.price | currency}}
          </span>
        </div>
        </div>
      </div>
    </a>
  </li>
</ul>
