
<div class="container text-center">
    <div class="row align-items-center">
        <h1> Follow These Simple Steps</h1>
      <div class="col">
       <div class="img"  routerLink="/fill-form">
        <img src="assets/img/icon/forms.png" alt="">
        <div>
            <h3> Fill The Form</h3>
            <p>
                Provide us with  some informations.
            </p>
          
        </div>
       </div>
      </div>
      <div class="col">
        <div class="img" routerLink="/tracking">
            <img src="assets/img/icon/tracking.png" alt="" >
            <div>
                <h3>Live Tracking</h3>
                <p>
                    Track how far your goods have reached.
                </p>
             
            </div>
           </div>
      </div>
      <div class="col">
        <div class="img" routerLink="/review">
            <img src="assets/img/icon/box.png" alt="">
            <div>
                <h3> Delivered</h3>
                <p>
                   Recieve your goods within the standard timeline.Our realistic logistic network enables fastest and dependable door-to-door transit services
                </p>
            </div>
           </div>
      </div>
    </div>
  </div>
  <section
      class="section about"
      aria-label="about me"
      style="background-color: #ffffff"
    >
      <div class="container">
        <figure class="about-banner">
          <img src="assets/img/emg.jpg" loading="lazy" alt="picture" class="w-100"/>
        </figure>

        <div class="about-content">
          <h2 class="title-lg">About Us.</h2>

          <p class="body-md section-text" >
          
                    Expressud is an innovative e-commerce/ on demand delivery business based in the bustling city of Juba, South Sudan.Expressud is proud to be the first e-commerce platform in the country, offering a diverse range of products and services
                    that cater to the unique needs of our customers. Our offerings include real estate properties, delivery goods, and a wide array of e-commerce products. We are not just a business; we are a one-stop solution for all your needs! 
          </p>
          <div class="about-form">
          <a routerLink="/about-us"> <button id="btn">Read More!</button></a>
        </div>
  
        </div>
      </div>
    </section>
