<div class="container">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary mb-2" (click)="updateOrderStatus('New Order')">New Order</button>
        <button class="btn btn-warning mb-2" (click)="updateOrderStatus('Cooking Process')">Cooking in Process</button>
        <button class="btn btn-info mb-2" (click)="updateOrderStatus('Cooking Complete')">Cooking Complete</button>
        <button class="btn btn-secondary mb-2" (click)="updateOrderStatus('On the Way')">On the Way</button>
        <button class="btn btn-success mb-2" (click)="updateOrderStatus('Delivery Completed')">Delivery Completed</button>
      </div>
    </div>
  </div>
  