
/*---------------------
  Instagram
-----------------------*/

.instagram {
	padding-bottom: 0;
}


.instagram__pic__item {
	width: 33.33%;
	float: left;
	height: 261px;
    transition: transform 0.3s ease-in-out;
	background-position: center center;
}

.instagram__pic__item:hover {
    transform: scale(1.2); /* Increase the scale on hover to make it bigger */
    cursor: pointer;
}

.instagram__text {
	padding-top: 130px;
}

.instagram__text h2 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 30px;
}

.instagram__text p {
	margin-bottom: 65px;
}

.instagram__text h3 {
	color: #e53637;
	font-weight: 700;
}