<!-- Instagram Section Begin -->

<section class="instagram spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg" style="background-image: url('assets/img/instagram/boutiques.jpg');"></div>
                    <div class="instagram__pic__item set-bg" style="background-image: url('assets/img/instagram/bus.png');"></div>
                    <div class="instagram__pic__item set-bg" style="background-image: url('assets/img/instagram/instagram-3.jpg');"></div>
                    <div class="instagram__pic__item set-bg" style="background-image: url('assets/img/instagram/estates.avif');"></div>
                    <div class="instagram__pic__item set-bg" style="background-image: url('assets/img/instagram/wigs.jpg');"></div>
                    <div class="instagram__pic__item set-bg" style="background-image: url('assets/img/instagram/wholesale.webp');"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>We Deal In</h2>
                    <p>Expressud is an all-encompassing e-commerce website catering to diverse needs such as food, pharmacy, real estate, bus services, and grocery delivery. .</p>
                    <h3>#Expres_Sud</h3>
                </div>
            </div>
        </div>
    </div>
  </section>