<!-- <form (ngSubmit)="registerAdmin()">
    <label>Full Name:</label>
    <input type="text" name="fullName" [(ngModel)]="admin.fullName" required>
  
    <label>Password:</label>
    <input type="password" name="password" [(ngModel)]="admin.password" required>
  
    <label>Confirm Password:</label>
    <input type="password" name="confirmPassword" [(ngModel)]="admin.confirmPassword" required>
  
    <label>Email:</label>
    <input type="email" name="email" [(ngModel)]="admin.email" required>
  
    <label>Admin Number:</label>
    <input type="text" name="adminNumber" [(ngModel)]="admin.adminNumber" required>
  
    <button type="submit">Register</button>
  </form>
   -->