<section>
    <h1>Simplifying the Shopping experience in Juba</h1>
    <p>Our goal with Expressud is to simplify the shopping experience and bring the convenience of online shopping to everyone's doorstep. </p>
    <p> Download our mobile App from App Store or Google play store</p>
    <img src="assets/img/about.png" alt="image">
</section>
<section>
    <h1>customer-centric. Trustworthy. Reliable</h1>
    <h2>Expressud aimes to improve innovation in South Sudan and provide access to online shopping</h2>
    <h3>Become a partner or register your business with us!</h3>
    <div>
        <a routerLink="/contact"> <button id="btn">Contact us</button></a>
    </div>
</section>