
 <app-search></app-search>
<app-tags></app-tags> 
<app-not-found
[visible]="!boutiques || !boutiques.length"
resetLinkText="Reset Search">
</app-not-found>
<ul>
  <li *ngFor="let boutique of boutiques">
    <a routerLink="/boutique/{{boutique.id}}">
      
      <img [src]="boutique.imageUrl" [alt]="boutique.name" />
      <div class="content">
        <div class="name">
          {{boutique.name}}
        </div>
        <span class="favorite {{boutique.favorite?'':'not'}}">
          ❤
        </span>
        <div class="stars">
          <star-rating [stars]="boutique.stars" />
        </div>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of boutique.origins">
              {{origin}}
            </span>
          </div>

        <div class="price">
          <span>
            {{boutique.price | currency}}
          </span>
        </div>
      </div>
      </div>
    </a>
  </li>
</ul> 
