<!-- <div class="homeGrid" >
  
    <div>
      <h2 class="h2">Grow your online business</h2>
      <p>Expand and improve your business by keeping an eye on your operational costs and sales data through our reports.</p>
      <div>
        <p><b>Learn more about:</b></p>
        <ul class="homeList">
          <li><a routerLink="#">Promotions</a></li>
          <li><a routerLink="#">Menu Optimisation</a></li>
          <li><a routerLink="#">Ads</a></li>
        </ul>
      </div>
    </div>
    <div class="storeBlobWrapper">
      <img class="homeBlobImg" src="assets/img/blog/phone.png" alt="Screenshots of the Orders app">
    </div>
</div> -->
  
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="homeGrid">
        <h2 class="h2">Grow your online business</h2>
        <p>Expand and improve your business by keeping an eye on your operational costs and sales data through our reports.</p>
        <div>
          <p><b>Learn more about:</b></p>
          <ul class="homeList">
            <li><a routerLink="#">Promotions</a></li>
            <li><a routerLink="#">Menu Optimisation</a></li>
            <li><a routerLink="#">Ads</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="storeBlobWrapper text-center">
        <img class="homeBlobImg img-fluid" src="assets/img/blog/phone.png" alt="Screenshots of the Manager Portal">
      </div>
    </div>
  </div>
</div>
