h1{
  font-size: 1.7rem;
  font-weight: 600;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 60px;
  margin-top: 60px;
}
/* Center the mat-accordion */
.mat-accordion {
    width: 70%; /* Adjust width as needed */
    margin: 0 auto; /* Center horizontally */
    margin-top: 50px; /* Add top margin for spacing */
    margin-bottom: 50px;
  }
  
  /* Style the mat-expansion-panel */
  .mat-expansion-panel {
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
    margin-bottom: 20px; /* Add bottom margin for spacing */
  }
  
  /* Style the mat-expansion-panel-header */
  .mat-expansion-panel-header {
    background-color: #f0f0f0; /* Add background color */
    color: #333; /* Add text color */
    font-size: 18px; /* Add font size */
    font-weight: bold; /* Add font weight */
  }
  
  /* Style the mat-expansion-panel-content */
  .mat-expansion-panel-content {
    padding: 20px; /* Add padding */
    background-color: #f9f9f9; /* Add background color */
    color: #666; /* Add text color */
    font-size: 16px; /* Add font size */
  }
  