<app-search></app-search>
<app-tags></app-tags> 
<app-not-found [visible]="!sweets || !sweets.length" resetLinkText="Reset Search">
</app-not-found>

<ul>
  <li *ngFor="let sweet of sweets">
    <a routerLink="/sweet/{{sweet.id}}">
      <img [src]="sweet.imageUrl" [alt]="sweet.name" />
      <div class="content">
        <div class="name">
          {{sweet.name}}
        </div>
        <span class="favorite {{sweet.favorite ? '': 'not'}}">
          ❤
        </span>
        <div class="stars">
          <star-rating [stars]="sweet.stars"></star-rating>
        </div>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of sweet.origins">
              {{origin}}
            </span>
          </div>
          <div class="price">
            <span>
              {{sweet.price | currency}}
            </span>
          </div>
        </div>
      </div>
    </a>
  </li>
</ul>
