<section
      class="section about"
      aria-label="about me"
      style="background-color: #ffffff">
      <div class="container">
        <figure class="about-banner">
          <img src="assets/img/emg.jpg" loading="lazy" alt="picture" class="w-100"/>
        </figure>

        <div class="about-content">
          <h2 class="title-lg">About Expressud.</h2>

          <p class="body-md section-text" >
                    Expressud is an innovative e-commerce/ on demand delivery business based in the bustling city of Juba, South Sudan. 
          </p>
        </div>
      </div>
    </section>

