
/* .about .container {
    display: grid;
    gap: 50px;
    justify-content: space-between;
   
  } */
  
  .about .section-text { margin-block: 25px 16px; font-family: 'Noto Sans', sans-serif;}
  .section-text{padding-left: 30px;}
  .about-list {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .about-list .list-text {
    color: var(--jet);
    font-weight: var(--fw-500);
  }
  
  .about-list .strong {
    color: var(--orange-red);
    display: block;
  }
  
  .about .wrapper {
    margin-block-start: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px 25px;
  }
  .about-banner img{
    border-radius: 2px;
    width: 60%;
    height: 40%;
  }
  .wrapper{
    text-align: center;
  }
  .title-lg{
    font-size: 3rem;
    font-family: serif;
    font-weight: 700;
    text-align: center;
  
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.about-banner {
    flex: 0 0 50%; 
    text-align: right; 
}
.about-content {
    flex: 0 0 50%; 
}
  @media screen and (max-width: 768px) {
   
    .container {
        flex-direction: column;
    }
    .about-banner,
    .about-content {
        width: 100%; 
        text-align: center; 
        margin-bottom: 20px; 
    }
}