<div class="container">
  <div class="left-section">
    <h1 class="head">Deliver with Expressud</h1>
    <p class="para">No boss. Flexible schedule. Quick pay. Now you can make money by delivering orders that people crave using the Expressud app—all while exploring Juba.</p>
    <button routerLink="/authentication" id="btn">Sign up to deliver</button>
  </div>
  <div class="right-section">
    <img src="assets/img/man.jpg" alt="">
  </div>
</div>

<div class="header-container">
  <h1 class="header">Make Money as you Drive</h1>
</div>

<div class="container1">
  <div class="section">
    <img src="assets/img/png/car-key.png" alt="" class="png">
    <h3>Your vehicle, your time</h3>
    <p class="pass">You have the flexibility to choose your mode of transportation—be it a car, bike, scooter, or even your own two feet—to make deliveries at your convenience. Whether it's for an hour, a weekend, or consistently throughout the week, you have the freedom to deliver on your terms.</p>
  </div>
  <div class="section">
    <img src="assets/img/png/pay.png" alt="" class="png">
    <h3>Weekly payments</h3>
    <p class="pass">Get paid once a week and easily keep track of money you've made within the driver app.</p>
  </div>
  <div class="section">
    <img src="assets/img/png/compass.png" alt="" class="png">
    <h3>Enjoy your city</h3>
    <p class="pass">Between picking up and dropping off deliveries, it’s just you and the road—relax, bump your music, and enjoy cruising around town.</p>
  </div>
</div>

<div class="how-it-works-container">
  <div class="section-heading">
    <h2>How it works</h2>
  </div>
  <div class="step">
    <div class="step-number">1</div>
    <div class="step-description">
      <h3>Log in</h3>
      <p>Get on the road and log in to the Driver app to begin receiving delivery requests.</p>
    </div>
  </div>
  <div class="step">
    <div class="step-number">2</div>
    <div class="step-description">
      <h3>Deliver orders</h3>
      <p>Suggested navigation and information from stores and your customers are provided in the app to help deliveries run smoothly.</p>
    </div>
  </div>
  <div class="step">
    <div class="step-number">3</div>
    <div class="step-description">
      <h3>Earn money</h3>
      <p>You can track your earnings and cash out daily or weekly.</p>
    </div>
  </div>
</div>

<div>
  <app-faq></app-faq>
</div>

<div class="header-container">
  <h1>Deliver your way in the app</h1>
</div>
<div class="delivery-container">
 
  <div class="download-app-container">
    <a aria-label="Scan to download the Driver app" href="#" data-tracking-name="static_id_block.wcb3-multilink.multilink-item_cta0" class="download-app-link" >
      <img src="assets/img/png/qr-code.png" alt="Download Driver App" class="download-app-image">
      <div class="download-app-text">
        <h2>Download the Driver app</h2>
        <p>Scan to download</p>
      </div>
    </a>
  </div>
</div>


