
.container{
    margin-bottom: 10%;
}
h1{
    font-size: 1.9rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}
img{
    border-radius: 10px;
}
h3{
    font-size: 1.4rem;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
p{
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none; /* Remove underline */
    color: #007bff; /* Adjust link color as needed */
    font-size: 20px;
}

a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  .blue-text {
    color: blue;
  }
  