<div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Total Orders</h5>
            <p class="card-text">100</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Total Completed Orders</h5>
            <p class="card-text">80</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Total Cancelled Orders</h5>
            <p class="card-text">20</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Total Value</h5>
            <p class="card-text">$5000</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Total Order Value</h5>
            <p class="card-text">$4000</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Total Cancelled Order Value</h5>
            <p class="card-text">$1000</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  