
  @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
  @import "~@fortawesome/fontawesome-free/css/all.css";


 
  * {
    margin: 0;
    padding: 0;
    font-family: 'Nunito',sans-serif;
    box-sizing: border-box;
}
.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('/assets/img/bg.jpg');
  background-size: cover;
 
}
.contact .content{
  text-align: center;
  max-width: 800px;
}
.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color:#fff;
}
.contact .content p{
  
  font-weight: 300;
  color:#fff;
}
.container{
  align-items: center;
  justify-content: flex-start;
  display: flex;
  width: 100%;
  margin-top: 30px;
}
.container .contactInfo{
  width: 50%;
  display:flex;
  flex-direction: column;

}
.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3{
  font-weight: 500;
  color: #00bcd4;
}
.container .contactInfo .box a,address{
  color: #fff;
}
.contactform{
  width: 40%;
  padding: 80px;
  background: #fff;
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
  overflow: hidden; /* Prevent the form from expanding */
}


.contactform h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
  margin-bottom: 20px;
}
.contactform .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea
{
  padding: 5px 0;
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  box-sizing: border-box;
}
.contactform .inputBox span{
  position: absolute;
  left:0 ;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 16px;
  pointer-events:none ;
  transition: 0.5s;
  color: #666;

}
.contactform .inputBox input:focus~span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.error-message {
  color: red;
  font-size: 1.0rem;
  margin-top: 4px;
}
/* .contactform .inputBox button[type="submit"]{

} */
@media (max-width:991px){
  .contact{
    padding: 50px;
  }
  .container{
    flex-direction: column;
  }
  .container .contactInfo{
    margin-bottom: 40px;
  }
  .container .contactInfo,.contactform{
    width: 100%;
  }
}