
<section class="contact">
  <div class="content">
    <h2>Contact Us</h2>
    <p>Expressud, an innovative e-commerce and on-demand delivery service headquartered in the vibrant city of Juba, South Sudan, welcomes your inquiries . </p>
  </div>
  
    <div class="container">
      <div class="contactInfo">
        <div class="box">
          <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
          <div class="text">
            <h3>Adress</h3>
            <address class="body-lg" >
              Juba,
              South Sudan
            </address>
          </div>
        </div>
        
      
      <div class="box">
        <div class="icon"><i class="fa-solid fa-phone"></i></div>
        <div class="text">
          <h3>Phone</h3>
          <a href="tel:+212644377779" class="body-lg" >+212644377779</a>
        </div>
      </div>
    
    <div class="box">
      <div class="icon"><i class="fa-solid fa-envelope-open-text"></i></div>
      <div class="text">
        <h3>Email</h3>
        <a href="tel:expressud7@gmail.com" class="body-lg" >expressud7gmail.com</a>
      </div>
    </div>
  </div>
 
  

    
  <div class="contactform">
    <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
      <h2>Send Message</h2>
      <div class="inputBox">
        <input type="text" name="" formControlName="name">
        <span for="name">Full Name</span>
        <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
          <p class="error-message">Name is required.</p>
        </div>
      </div>
      <div class="inputBox">
        <input type="text" name="" formControlName="email">
        <span>Email</span>
        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
          <p class="error-message">Email is required.</p>
        </div>
      </div>
      <div class="inputBox">
       <textarea name=""  formControlName="message"></textarea>
        <span>Type your Message..</span>
        <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
          <p class="error-message">Message is required.</p>
        </div>
      </div>
      <div class="inputBox">
        <button type="submit" id="btn">Send</button>
        <p *ngIf="messageReceived" class="info">Your message is received. Thank you!</p>
      </div>
    </form>
  </div>
    </div>
  
</section>

