<!-- Categories Section Begin -->
<!-- <section class="categories spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="categories__text" [@slideFromLeft]="slideFromLeftState">
                    <h2>Food<br /> <span>Groceries</span> <br /> Skincare</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories__hot__deal">
                    <vg-player (onPlayerReady)="onPlayerReady($event)">
                        <vg-overlay-play></vg-overlay-play>
                        <vg-buffering></vg-buffering>
                    
                        <vg-controls>
                           <vg-play-pause></vg-play-pause>
                            <vg-playback-button></vg-playback-button>
                    
                            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                    
                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>
                    
                            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                    
                            <vg-track-selector></vg-track-selector>
                            <vg-mute></vg-mute>
                            <vg-volume></vg-volume>
                    
                            <vg-fullscreen></vg-fullscreen>
                        </vg-controls>
                    
                        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" crossorigin autoplay muted>
                            <source src="assets/img/vid.mp4" type="video/mp4">
                        </video>
                    </vg-player>
                   
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="categories__deal__countdown"[@slideFromRight]="slideFromRightState">
                    <span>Deal Of The Week</span>
                    <h2>Multi offers </h2>
                    <div class="categories__deal__countdown__timer" id="countdown">
                        <div class="cd-item">
                            <span>3</span>
                            <p>Days</p>
                        </div>
                        <div class="cd-item">
                            <span>1</span>
                            <p>Hours</p>
                        </div>
                        <div class="cd-item">
                            <span>50</span>
                            <p>Minutes</p>
                        </div>
                        <div class="cd-item">
                            <span>18</span>
                            <p>Seconds</p>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">Shop now</a>
                </div>
            </div>
        </div>
    </div>
  </section> -->

  <!-- categories.component.html -->
<section class="categories spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="categories__text" [@slideFromLeft]="slideFromLeftState">
            <h2>{{ category }}</h2>
          </div>
        </div>
        
        <div class="col-lg-4">
          <div class="categories__hot__deal">
            <!-- Your image carousel goes here -->
           <app-image-carousel ></app-image-carousel> 
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1">
          <div class="categories__deal__countdown" [@slideFromRight]="slideFromRightState">
            <span>Deal Of The Week</span>
            <h2>Multi offers</h2>
            <div class="categories__deal__countdown__timer" id="countdown">
              <div class="cd-item">
                <span>{{ countdown.days }}</span>
                <p>Days</p>
              </div>
              <div class="cd-item">
                <span>{{ countdown.hours }}</span>
                <p>Hours</p>
              </div>
              <div class="cd-item">
                <span>{{ countdown.minutes }}</span>
                <p>Minutes</p>
              </div>
              <div class="cd-item">
                <span>{{ countdown.seconds }}</span>
                <p>Seconds</p>
              </div>
            </div>
            <a href="#" class="primary-btn">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  