<!-- settings.component.html -->
<h1>setting</h1>
<div *ngIf="(settings$ | async) as settings">
    <label>
      <input type="checkbox" [(ngModel)]="settings.notifications"> Enable Notifications
    </label>
    <label>
      Language:
      <select [(ngModel)]="settings.language">
        <option value="en">English</option>
        <option value="ar">Arabic</option>
        <!-- Add more language options as needed -->
      </select>
    </label>
    <label>
      Theme:
      <select [(ngModel)]="settings.theme">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
        <!-- Add more theme options as needed -->
      </select>
    </label>
    <button (click)="updateSettings(settings)">Save Settings</button>
  </div>
  