<div class="   container">
    <!-- <div class=" row ">
      <div class="main col-2"> 
        <div class="card" id="c1" routerLink="/resturants"><img src="assets/img/food/burger.jpg" alt="">Resturants</div>
       </div>

       <div class="main col-2">
        <div class="card" id="c1" routerLink="/alcohol"><img src="assets/img/blog/alcohol.jpg" alt="">Alochol</div>
        <div class="card" id="c3" routerLink="/pharmacy"><img src="assets/img/blog/para.jpeg" alt="">Pharmacuetial</div>
        <div class="card" id="c4" routerLink="/cosmetic"><img src="assets/img/blog/cosmetics.jpg" alt="">Cosmetics</div>
       </div>

        <div class="main col-2">
        <div class="card" id="c2" routerLink="/boutique"><img src="assets/img/blog/boutique.jpg" alt="">Boutiques</div>
        <div class="card con" id="c3" routerLink="/hair"><img src="assets/img/blog/hairs.jpg" alt="">Wigs & Hair</div>
        </div>

        <div class="main col-2">
            <div class="card" id="c1" routerLink="/sweets"><img src="assets/img/blog/sweet.jpg" alt="">Sweets</div>
            <div class="card" id="c2" routerLink="/grocery"><img src="assets/img/blog/super.jpg" alt="">Supermarket</div>
            <div class="card" id="c3" routerLink="/bakery"><img src="assets/img/blog/bakery.jpg" alt="">Bakery</div>
            <div class="card" id="c4" routerLink="/local-market"><img src="assets/img/blog/local.jpg" alt="">Local Market</div>
        </div>

        <div class="main col-2">
        <div class="card con" id="c1" routerLink="/real-estates"><img src="assets/img/blog/real.webp" alt="">Real Estates</div>
        <div class="card" id="c2"routerLink="/furnitures"><img src="assets/img/blog/furniture.png" alt="">Furnitures</div>
        </div>

        <div class="main col-2">
        <div class="card" id="c1" routerLink="/bus"><img src="assets/img/blog/bike.JPG" alt="">Courier</div>
        </div>

    </div> -->
  
    <div class="row ">
        <div class="col-6">
        <p>Welcome to Expressud</p>
        <app-address></app-address>
        <app-search></app-search>
        </div>

        <div class="col-6">
         <img src="assets/img/blog/green.jpg" alt="">
        </div>
     </div>
</div>
